<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.Authen_Author.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenAPI</servlet-name>
        <servlet-class>Controller.Authen_Author.AuthenAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>Controller.Authen_Author.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAPI</servlet-name>
        <servlet-class>Controller.Authen_Author.RegisterAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordEmailAPI</servlet-name>
        <servlet-class>Controller.Authen_Author.ResetPasswordEmailAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordCodeAPI</servlet-name>
        <servlet-class>Controller.Authen_Author.ResetPasswordCodeAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordAPI</servlet-name>
        <servlet-class>Controller.Authen_Author.ResetPasswordAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebook</servlet-name>
        <servlet-class>Controller.Authen_Author.LoginFacebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>Controller.Shopping_Cart.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>Controller.Shopping_Cart.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartProductServlet</servlet-name>
        <servlet-class>Controller.Shopping_Cart.EditCartProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>Controller.Shopping_Cart.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenAPI</servlet-name>
        <url-pattern>/api-authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAPI</servlet-name>
        <url-pattern>/api-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordEmailAPI</servlet-name>
        <url-pattern>/api-resetPasswordEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordCodeAPI</servlet-name>
        <url-pattern>/api-resetPasswordCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordAPI</servlet-name>
        <url-pattern>/api-resetPassword</url-pattern>
    </servlet-mapping>
    <!--        <security-constraint>
        <web-resource-collection>
            <web-resource-name>FsoftOnlineShopping</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    <servlet-mapping>
        <servlet-name>LoginFacebook</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartProductServlet</servlet-name>
        <url-pattern>/editcartproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
